@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body {
  @apply bg-background text-foreground;
}

.dark {
  @apply bg-background text-foreground;
}

* {
  font-family: ui-monospace - 400;
}
